name: Build BennuGD for WebOS

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-webos:
    runs-on: ubuntu-24.04-arm

    env:
      WEBOS_SDK_URL: https://github.com/webosbrew/native-toolchain/releases/download/webos-d7ed7ee.6/arm-webos-linux-gnueabi_sdk-buildroot_linux-aarch64.tar.bz2
      WEBOS_SDK_BUILDROOT: ${{ github.workspace }}/arm-webos-linux-gnueabi_sdk-buildroot

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          set -e
          sudo apt update -y
          sudo apt install -y wget bzip2 cmake file

      - name: Download and extract WebOS SDK
        run: |
          set -e
          wget $WEBOS_SDK_URL
          tar xvfj $(basename $WEBOS_SDK_URL)
          rm $(basename $WEBOS_SDK_URL)

      - name: Relocate WebOS SDK and setup toolchain
        run: |
          cd $WEBOS_SDK_BUILDROOT
          ./relocate-sdk.sh

      - name: Build BennuGD
        run: |
          cmake -B build -DCMAKE_TOOLCHAIN_FILE=$WEBOS_SDK_BUILDROOT/share/buildroot/toolchainfile.cmake
          cmake --build build
          file build/bennugd_libretro.so

      - name: Upload files
        uses: actions/upload-artifact@v5
        with:
          name: bennugd-libretro-webos
          path: |
            build/lib/*.a
            build/bennugd_libretro.so
